In [1]:
## Write a program to reverse a string
s="Shweta"
rev=0
for i in s[::-1]:
    print(i)

a
t
e
w
h
S

In [2]:
## Convert a string to uppercase.
s='Shweta Kumari Shrivastava'
print(s.upper())

SHWETA KUMARI SHRIVASTAVA

In [3]:
## Convert a string to lowercase.
s=input("Enter String")
print(s.lower())

Enter String Shweta

shweta

In [4]:
## Count the number of vowels in a string.
s="Shweta Shrivastava"
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        print("Length os string of vowel is:",len(i))

Length os string of vowel is: 1
Length os string of vowel is: 1
Length os string of vowel is: 1
Length os string of vowel is: 1
Length os string of vowel is: 1
Length os string of vowel is: 1

In [5]:
## Count the number of consonants in a string.
s="Shweta"
for i in s:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        pass
    else:
        print(len(i))

1
1
1
1

In [6]:

## Remove all whitespaces from a string.
s="Kumari Shweta Shrivastava"
print(s.replace(" ",""))

KumariShwetaShrivastava

In [7]:
## Find the length of a string without using the `len()` function.
s="Shweta Kumari"
count=0
for i in s:
    count+=1
print(count)

13

In [8]:
## Check if a string contains a specific word
s="Shweta Kumari Shrivastava"
if "sk" in s:
    print("True")
else:
    print("False")

False

In [9]:
## Replace a word in a string with another word.
s="Kumari Shweta Shrivastava"
print(s.replace("Shweta","Pooja"))

Kumari Pooja Shrivastava

In [10]:
## Count the occurrences of a word in a string.
s="Kumari Shweta Shrivastava"
print(s.count("a"))

5

In [11]:
## Find the first occurrence of a word in a string.
s="Kumari Shweta Shrivastava"
print(s.find("k"))

-1

In [12]:
## Find the last occurrence of a word in a string.
s="Kumari Shweta Shrivastava"
print("Index of last occurrence of substring is : ",s.rindex("a"))

Index of last occurrence of substring is :  24

In [13]:
## Split a string into a list of words.
s="Kumari Shweta Shrivastava"
print(s.split())

['Kumari', 'Shweta', 'Shrivastava']

In [14]:
## Join a list of words into a string.
list1 = ['k', 'u', 'm', 'a', 'r', 'i']
print("".join(list1))

kumari

In [15]:
## Convert a string where words are separated by spaces to one where words are separated by underscores
s=['S','h','w','e','t','a']
print("_".join(s))

S_h_w_e_t_a

In [16]:
## Check if a string starts with a specific word or phrase.
s="Shweta Shrivastava"
print(s.startswith("S"))

True

In [17]:
## Check if a string ends with a specific word or phrase.
s="Shweta Shrivastava"
print(s.endswith("a"))

True

In [18]:
## Convert a string to title case (e.g., "hello world" to "Hello World").
s="shweta shrivastava"
print(s.title())

Shweta Shrivastava

In [19]:
## Find the longest word in a string.
str = input("Enter a String: ")
word_list = str.split()
longest_word = max(word_list, key = len)
pos = str.index(longest_word)
print("Longest word: ",longest_word)
print("Position of Longest word: ", pos)

Enter a String:  Shweta

Longest word:  Shweta
Position of Longest word:  0

In [20]:
## Find the Shortest word in a string.
str = input("Enter a String: ")
word_list = str.split()
shortest_word = min(word_list, key = len)
pos = str.index(shortest_word)
print("Shortest word: ",shortest_word)
print("Position of shortest word: ", pos)

Enter a String:  Shrivastava

Shortest word:  Shrivastava
Position of shortest word:  0

In [21]:
## Reverse the order of words in a string.
s="Shweta"
print(s[::-1])

atewhS

In [22]:
## Check if a string is alphanumeric.
s=input("Enter a string")
print(s.isalnum())

Enter a string Shweta

True

In [23]:

## Extract all digits from a string.
s="Kumari567Shweta"
print(s)
num=""
for i in s:
    if i.isdigit():
        num=num+i
print("Extracted numbers from list is:",num)

Kumari567Shweta
Extracted numbers from list is: 567

In [24]:
## Extract all alphabets from a string.
s="Kumari567Shweta"
print(s)
a=""
for i in s:
    if i.isalpha():
        a=a+i
print("Extracted numbers from list is:",a)

Kumari567Shweta
Extracted numbers from list is: KumariShweta

In [25]:

## Count the number of uppercase letters in a string.
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

Enter string: SHWETA

The number of lowercase characters is:
0
The number of uppercase characters is:
6

In [26]:
## Swap the case of each character in a string.
s="sHWeTa"
print(s.swapcase())

ShwEtA

In [27]:
## Validate email address is true or not
import re
def solve(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = "popular_website15@comPany.com"
print(solve(s))

True

In [28]:
## Extract the username from an email address string.
s="Shweta2997@gmail.com"
s.split("@",1)
username=print(s.split("@",1)[0])

Shweta2997

In [29]:
## Extract the domain name from an email address string.
s="Kumarish2997@gmail.com"
s.split("@",1)
print("Domain name of Emeail address is:""\n",s.split("@",1)[1])

Domain name of Emeail address is:
 gmail.com

In [30]:
## Replace multiple spaces in a string with a single space.
s="Kumari Shweta Shrivastava"
print(s.replace("","  "))

  K  u  m  a  r  i     S  h  w  e  t  a     S  h  r  i  v  a  s  t  a  v  a

In [31]:
## Check if a string is a valid URL.
def Find(string):
    x=string.split()
    res=[]
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            res.append(i)
    return res           
# Driver Code
string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of https://www.geeksforgeeks.org/'
print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'https://www.geeksforgeeks.org/']

In [32]:
## Frequency of each character in string
str1 = input ("Enter the string: ")
d = dict()
for c in str1:
    if c in d:
        d[c] = d[c] + 1
    else:
        d[c] = 1
print(d)

Enter the string:  Shweta

{'S': 1, 'h': 1, 'w': 1, 'e': 1, 't': 1, 'a': 1}

In [33]:
## Remove all punctuation from a string.
s=input("Enter string")
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in s:
    if i in punc:
        s=s.replace(i," ")  
print(s)

Enter string kumari

kumari

In [34]:
## Check if a string contains only digits.
s=input("Enter string")
if s.isdigit():
    print("String contains only number")
else:
    print("String does not contain only number")

Enter string shweta123

String does not contain only number

In [35]:
## Check if a string contains only alphabets.
s=input("Enter string")
al='''aeiouAEIOU'''
for i in s:
    if i in al:
        print("String contains only alphabets")
    else:
        print("String does not contain only alphabets")

Enter string Ae

String contains only alphabets
String contains only alphabets

In [36]:
## Convert a string to a list of characters.
a="Shweta"
b=list(a)
print(b)

['S', 'h', 'w', 'e', 't', 'a']

In [37]:
## Check if two strings are anagrams.
a="Shweta"
b="HSEWta"
a=a.lower()
b=b.lower()
if len(a)==len(b):
    sorted_a=sorted(a)
    sorted_b=sorted(b)
    if sorted(a)==sorted(b):
        print("Strings are anagram")
    else:
        print("Two string are not anagram")

Strings are anagram

In [38]:
## Unique word of a string
my_str = 'one one two two three 3 sixteenth 16'
unique_words = set(my_str.split())
print(unique_words)
length = len(unique_words)
print(length)

{'sixteenth', '3', 'three', 'one', 'two', '16'}
6

In [39]:
## Count the number of syllables in a string.
word=input("Enter the word:")
syllable_count=0
for w in word:
      if(w=='a' or w=='e' or w=='i' or w=='o' or w=='u' or w=='A' or w=='E' or w=='I' or w=='O' or w=='U'):
            syllable_count=syllable_count+1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word: Shweta

The number of syllables in the word is:
2

In [40]:
## Check if a string contains any special characters.
special_characters = '''!@#$%^&*()-+?_=,<>/'''
s=input("Enter string")
if any(c in special_characters for c in s):
    print("Yes special character found")
else:
    print("No Special character found")

Enter string shweta

No Special character found

In [41]:

## Remove the nth word from a string.
my_string = "hello my friend"
nth = 0
new_word = 'goodbye'
print(' '.join(word if i != nth else new_word
                for i, word in enumerate(my_string.split(' '))))

goodbye my friend

In [42]:
## Create a list with integers from 1 to 10.
num=list(range(1,11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
## Find the length of a list without using the `len()` function.
list=[2,3,4,5,6,7,8,9]
count=0
for i in list:
    count=count+1
print(count)

8

In [44]:
## Append an element to the end of a list.
fruit_list = ["Apple", "Banana"]
new_fruit = input("Please enter a fruit name:\n")
fruit_list.append(new_fruit)
print(f'Updated Fruits List {fruit_list}')

Please enter a fruit name:
 Banana

Updated Fruits List ['Apple', 'Banana', 'Banana']

In [45]:
## Insert an element at a specific index in a list.
l1=[10,20,30,40,50]
insertitem=int(input("Enter a number"))
l1.insert(0,insertitem)
print(l1)

Enter a number 20

[20, 10, 20, 30, 40, 50]

In [46]:
## Remove an element from a list by its value.
lst=["Java","Python","Java Script","C++","Big Data","Machine Learning"]
lst.remove("Java Script")
print(lst)

['Java', 'Python', 'C++', 'Big Data', 'Machine Learning']

In [47]:
## Remove an element from a list by its index.
l = [1, 4, 6, 2, 6, 1]
del l[3]
print("List after calling del:")
print(l)

List after calling del:
[1, 4, 6, 6, 1]

In [48]:
## Check if an element exists in a list.
lst=[10,11,12,13,14,15]
if 90 in lst:
    print("Element exist in list",i)
else:
    print("Element does not exist in list")

Element does not exist in list

In [49]:
## Reverse the order of elements in a list.
lst=[1,2,3,4,5,6,7,8,9]
for i in lst[::-1]:
    print(i)

9
8
7
6
5
4
3
2
1

In [50]:
## Sort a list in ascending order.
lst=[10,1,20,3,4,5,6,7,8,9]
lst_number=lst.sort()
print(lst)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 20]

In [51]:
## Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(20) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
## Create a list of odd numbers from 1 to 20.
Odd_numbers = [x for x in range(20) if x%2!=0]
print(Odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [54]:
## Find the sum of all elements in a list.
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list:
    sum=sum+i
print(sum)

55

In [55]:
## Find the maximum value in a list.
list=[1,2,3,4,5,6,7,8,9,10]
print("Maximum value is",max(list))

Maximum value is 10

In [56]:
## Find the minimum value in a list.
list=[1,2,3,4,5,6,7,8,9,10]
print("Minimum value is",min(list))

Minimum value is 1

In [57]:
## Create a list of squares of numbers from 1 to 10.
list=[1,2,3,4,5,6,7,8,9]
for i in list:
    sqar=i*i
    print(sqar)

1
4
9
16
25
36
49
64
81

In [58]:

## Create a list of random numbers.
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[7, 5, 8, 5, 6, 7, 5, 6, 4, 4]

In [60]:
## Remove duplicates from a list.
mylist = ["a", "b", "a", "c", "c"]
mylist = dict.fromkeys(mylist)
print(mylist)

{'a': None, 'b': None, 'c': None}

In [61]:
## Common element from a list.
list1=[1,2,3,4,5]
list2=[5,6,7,8,2,3]
result=[x for x in list1 if x in list2]
print(result)

[2, 3, 5]

In [62]:
## Find the difference between two lists.
first_list = [4, 9, 2, 3]
second_list = [4, 0, 1]
difference_result = []
for item in first_list:
    if item not in second_list:
        difference_result.append(item)
print(difference_result)

[9, 2, 3]

In [63]:
## Find the difference between two lists.
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [64]:
## Multiply all elements in a list by 2.
list=[2,3,4,5,6,7,8,9]
for i in list:
    print(i*2)

4
6
8
10
12
14
16
18

In [65]:
## Multiply all elements in a list by 2.
list=[2,3,4,5,6,7,8,9]
for i in list:
    if i%2==0:
        print("All even number is:",i)

All even number is: 2
All even number is: 4
All even number is: 6
All even number is: 8

In [67]:
## Convert a list of strings to a list of integers
l1=["1","2","3","4","5"]
c=map(int,l1)
print(c)

<map object at 0x7f4a80439b70>

In [68]:
## Create a list of the first 10 Fibonacci numbers.
n=int(input("Enter the number terms: "))
f=0                                         
sum=1                                        
if n<=0:
    print("The fibonacci series is: ",f)
else:
    print(f,sum,end=" ")
    for x in range(2,n):
        next=f+sum                          
        print(next,end=" ")
        f=sum
        sum=next

Enter the number terms:  5

0 1 1 2 3

In [70]:
## Create a list of prime numbers up to 50.
num = int(input("Enter the number: "))
for i in range(2,num):
    if num%i==0:
        print("Not a prime number",i)
    else:
        print("Is a prime number")

Enter the number:  3

Is a prime number

In [75]:

## Find the second largest number in a list.
list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
    if list1[i] > mx:
        secondmax = mx
        mx = list1[i]
    elif list1[i] > secondmax and \
        mx != list1[i]:
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
print("Second highest number is : ",secondmax)

Second highest number is :  45

In [76]:
## Create a list of the first 10 factorial numbers.
num=int(input("Enter a number"))
fact=1
for i in range(1,6):
    fact=fact*i
print(fact)

Enter a number 5

120

In [77]:
## Remove all elements from a list.
lst=[1,2,3,4,5,6]
c=lst.clear()
print(c)

None

In [78]:
## Replace negative numbers in a list with 0.
list1 = [-10,1,2,3,9,-1]
list2 = [0 if i < 0 else i for i in list1]
print(list2)

[0, 1, 2, 3, 9, 0]

In [79]:
## Convert a string into a list of words.
s="I am software Developer working in HCL technology for last two years"
print(s.split())

['I', 'am', 'software', 'Developer', 'working', 'in', 'HCL', 'technology', 'for', 'last', 'two', 'years']

In [80]:
## Convert a list of words into a string.
s=["My","Name","is","Kumari","Shweta"]
print(" ".join(s))

My Name is Kumari Shweta

In [81]:
## Create a list of the first `n` powers of 2.
print("Enter the Total Number of Terms: ")
tot = int(input())
for i in range(tot):
    print("2 raised to the power ", i, " is ", 2 ** i)

Enter the Total Number of Terms:

 5

2 raised to the power  0  is  1
2 raised to the power  1  is  2
2 raised to the power  2  is  4
2 raised to the power  3  is  8
2 raised to the power  4  is  16

In [82]:
## Find the longest string in a list of strings.
x = ['apple', 'banana', 'fig', 'mango']
longest = max(x, key=len)
print(longest)

banana

In [83]:
## Find the shortest string in a list of strings.
x = ['apple', 'banana', 'fig', 'mango']
longest = min(x, key=len)
print(longest)

fig

In [84]:
## Create a list of the first `n` triangular numbers.
limit = 10
triangle_nums = []
num = 0
for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [85]:
## Swap two elements in a list by their indices.
a=10
b=20
print("a is:",b)
print("b is:",a)

a is: 20
b is: 10

In [86]:
## Create a tuple with integers from 1 to 5.
x=tuple(range(1,6))
print(x)

(1, 2, 3, 4, 5)

In [87]:
## Print 3rd element of a tuplex=(1,2,3,4,5)
print(x[2])

3

In [88]:
## Find the length of a tuple without using the `len()` function.
x=(1,2,3,4,5,6,7,8,9)
count=0
for i in x:
    count+=1
print(count)

9

In [89]:
## Count the occurrences of an element in a tuple.
x=(1,2,3,4,5,6,7,8,9,2,2,2,2,5,5)
print("Count of number 2 is",x.count(2))
print("Count of number 5 is:",x.count(5))

Count of number 2 is 5
Count of number 5 is: 3

In [90]:
## Find the index of the first occurrence of an element in a tuple.
x=(1,2,3,4,5)
print(x[0])

1

In [91]:
## Check if an element exists in a tuple.
x=(1,2,3,4,5,6,7,8)
if 9 in x:
    print("Element exists in a tuple")
else:
    print("Element does not exist in a tuple")

Element does not exist in a tuple

In [93]:
## Unpack the elements of a tuple into variables.
x,y,z=("Python",2,"Java")
print(x)
print(y)
print(z)

Python
2
Java

In [94]:
## Create a tuple of even numbers from 1 to 10.
x=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
for i in x:
    if i%2==0:
        print("Even number is:",i)
    else:
        print("Odd number is:",i)

Odd number is: 1
Even number is: 2
Odd number is: 3
Even number is: 4
Odd number is: 5
Even number is: 6
Odd number is: 7
Even number is: 8
Odd number is: 9
Even number is: 10
Odd number is: 11
Even number is: 12
Odd number is: 13
Even number is: 14
Odd number is: 15

In [95]:
## Concatenate two tuples.
a=(1,2,3,4,5)
b=(6,7,8,9,10)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [96]:
## Repeat a tuple three times.
x=(1,2,3)
c=x*3
print(c)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [97]:
## Check if a tuple is empty.
x=(10,20,30,40,50)
if len(x)==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is not empty

In [98]:
## Create a nested tuple.
myTuple = ("Dehradun", 4, 29, 13)
print(myTuple[0])

Dehradun

In [99]:
## Create a tuple with a single element.
single_tuple = (10,)
print(single_tuple)

(10,)

In [100]:

## Common between two tuples.
a=(1,2,3,4,5)
b=(4,5,6,7,8)
for i in a:
    if i in b:
        print("common element is:",i)

common element is: 4
common element is: 5

In [101]:

## Slice a tuple.
a=(1,2,3,4,5,6,7,8,9,10)
print(a[1:10:2])

(2, 4, 6, 8, 10)

In [102]:
## Find the maximum value in a tuple.
a=(1,2,3,4,5,6,7,8,9,10)
print(max(a))

10

In [103]:
## Find the minimum value in a tuple.
a=(1,2,3,4,5,6,7,8,9,10)
print(min(a))

1

In [104]:
## Convert a string to a tuple of characters.
s="Kumari"
print(type(s))
c=tuple(s)
print(c)

<class 'str'>
('K', 'u', 'm', 'a', 'r', 'i')

In [105]:
## Convert a tuple of characters to a string.
s=("K","u","m","a","r","i")
print("".join(s))

Kumari

In [106]:
## Create a tuple from multiple data types.
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [107]:
## Check if two tuples are identical.
a=(1,2,3)
b=(6,4,3)
if a == b:
    print("two tuples are identical")
else:
    print("two tuples are not identical")

two tuples are not identical

In [108]:
## Sort the elements of a tuple.
tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)

In [109]:
## Create a tuple of squares of numbers from 1 to 5.
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
print("The square of integers from 1 to 50 is:" ,tup)

The square of integers from 1 to 50 is: (1, 4, 9, 16, 25)

In [110]:
## Create a tuple of random numbers.
import random
inputTuple = (30, 10, "TutorialsPoint", 20, "python", "code")
randomItem = random.choice(inputTuple)
print("The generated random tuple item = ", randomItem)

The generated random tuple item =  20

In [111]:
## Check if a tuple is sorted.
aTuple = (2, 5, 8, 1, 9, 3, 7)
result = sorted(aTuple)
result = tuple(result)
print('Sorted Tuple :', result)

Sorted Tuple : (1, 2, 3, 5, 7, 8, 9)

In [112]:

## Rotate tuple by left to right
ltList = [11, 22, 33, 44, 55, 66, 77, 88]

ltRotate = int(input("Enter Position to Left Rotate List Items = "))

print('Original List Items Before Left Rotating')
print(ltList)

for i in range(ltRotate):
    firstValue = ltList[0]
    for j in range(len(ltList) - 1):
        ltList[j] = ltList[j + 1]
    ltList[len(ltList) - 1] = firstValue

print('Final List Items After Left Rotating')
print(ltList)

Enter Position to Left Rotate List Items =  3

Original List Items Before Left Rotating
[11, 22, 33, 44, 55, 66, 77, 88]
Final List Items After Left Rotating
[44, 55, 66, 77, 88, 11, 22, 33]

In [113]:

## Create a tuple of the first 5 Fibonacci numbers.
lst = [0,1]
a = 0
b = 1
c = 0
for i in range(7):
    c = a + b
    a = b
    b = c
    lst.append(c)
tup = tuple(lst)
print("9 terms of Fibonacci series are:", tup)

9 terms of Fibonacci series are: (0, 1, 1, 2, 3, 5, 8, 13, 21)

In [114]:
## Create a tuple from user input.
my_tuple = tuple(input('Enter space-separated words: ').split())
print(my_tuple)

Enter space-separated words:  shweta

('shweta',)

In [115]:
## Swap two elements in a tuple.
a=(10,)
b=(20,)
print("a is:",b)
print("b is:",a)

a is: (20,)
b is: (10,)

In [116]:
## Reverse the elements of a tuple.
a=(1,2,3,4,5)
print(a[::-1])

(5, 4, 3, 2, 1)

In [117]:
## n power of 2
n=int(input("Enter a number"))
power=n**2
print(power)

Enter a number 5

25

In [118]:
## Longest string in a tuple
list1 = ('apple', 'banana', 'watermelon', 'orange')
max_len = -1
for ele in list1: 
    if(len(ele) > max_len): 
        max_len = len(ele) 
        res = ele       
print("Longest String is : ", res)

Longest String is :  watermelon

In [119]:

## Create a set with integers from 1 to 5.
print(set(range(1,6)))

{1, 2, 3, 4, 5}

In [120]:
## Add an element to a set.
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [121]:
## Remove an element from a set.
thisset = {"apple", "banana", "cherry"}
thisset.remove("apple")
print(thisset)

{'banana', 'cherry'}

In [122]:

## Check if an element exists in a set.
thisset = {"apple", "banana", "cherry"}
if "Mango" in thisset:
    print("Yes it's exist in set")
else:
    print("It's not exist in set")

It's not exist in set

In [123]:
## Find the length of a set without using the `len()` function.
s={1,2,3,4,5}
count=0
for i in s:
    count=count+1
print(count)

5

In [124]:
## Clear all elements from a set.
s={1,2,3,4,5}
c=s.clear()
print(c)

None

In [125]:
## Create a set of even numbers from 1 to 10.
s={1,2,3,4,5,6,7,8,9,10}
for i in s:
    if i%2==0:
        print("Even Number:",i)
    else:
        print("Odd number is:",i)

Odd number is: 1
Even Number: 2
Odd number is: 3
Even Number: 4
Odd number is: 5
Even Number: 6
Odd number is: 7
Even Number: 8
Odd number is: 9
Even Number: 10

In [126]:
## Find the union of two sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'google', 'apple', 'banana', 'cherry', 'microsoft'}

In [127]:
## Find the intersection of two sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [128]:
## Find the difference between two sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'banana', 'cherry'}

In [129]:
## Check if a set is a subset of another set.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.issubset(y)
print(z)

False

In [130]:
## Check if a set is a superset of another set.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.issuperset(y)
print(z)

False

In [131]:
## Create a set from a list.
l=[1,2,3,4,5]
c=set(l)
print(c)

{1, 2, 3, 4, 5}

In [132]:
## Remove a random element from a set.
l={1,2,3,4,5}
c=l.pop()
print(c)

1

In [133]:
## Check if two sets have no elements in common.
list1 = [1, 2, 3, 4, 55]
list2 = [2, 3, 90, 22]
common_elements = set(list1).intersection(list2)
if common_elements:
    print("True")
else:
    print("False")

True

In [135]:
## Find the symmetric difference between two sets.
a={1,2,3,4}
b={4,5,6,7}
c=a.symmetric_difference(b)
print(c)

{1, 2, 3, 5, 6, 7}

In [136]:
## Update a set with elements from another set.
a={1,2,3,4}
b={4,5,6,7}
c=a.update(b)
print(c)

None

In [137]:
## Check if two sets are identical.
a={1,2,3}
b={1,2,3}
if a == b:
    print("Two sets are identical")
else:
    print("Two sets are not identical")

Two sets are identical

In [138]:
## Create a frozenset
vowels = ('a', 'e', 'i', 'o', 'u')
fSet = frozenset(vowels)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'e', 'u', 'i', 'o', 'a'})

In [139]:
## Check if a set is disjoint with another set.
a={1,2,3,4}
b={4,5,6,7}
c=a.isdisjoint(b)
print(c)

False

In [140]:
## Create a set of squares of numbers from 1 to 5.
s={1,2,3,4,5}
for i in s:
    square=i*2
    print(square)

2
4
6
8
10

In [141]:
## Create a set of squares of numbers from 1 to 5.
s={1,2,3,4,5}
for i in s:
    if i%2==0:
        print("All even number is",i)

All even number is 2
All even number is 4

In [142]:
## Multiply all elements in a set by 2.
s={1,2,3,4,5}
for i in s:
    mul=i*2
    print(mul)

2
4
6
8
10

In [143]:
## Remove an element from a set using the discard method.
def Remove(sets):
    sets.discard(21)
    print (sets)
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{41, 10, 20, 54, 26}

In [144]:
## Create a set from string
s="Shweta"
c=set(s)
print(c)

{'e', 't', 'w', 'h', 'S', 'a'}

In [145]:
## Find the maximum value in a set.
s={101,99,898,23,45,67}
c=max(s)
print(c)

898

In [146]:
## Find the minimum value in a set.
s={101,99,898,23,45,67}
c=min(s)
print(c)

23

In [147]:
## Check if the intersection of two sets is empty.
l1={1,2,3,4}
l2={5,6,7,8}
if l1 and l2:
    print("There is an Intersection")
else:
    print("NO Intersection")

There is an Intersection

In [148]:

## Create a set of the first 5 Fibonacci numbers.
a=0
b=1
for i in range(1,6):
    c=a+b
    a=b
    b=c
    print(b)

1
2
3
5
8

In [149]:
## Remove duplicates from a list using sets.
s={1,1,2,2,3,3,4,4,5,5}
print(set(s))

{1, 2, 3, 4, 5}