In [1]:
## Print Natural number 1 to 10

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:

## Sum of number

n = input("Enter value of n: ")
n = int(n)
total_sum = 0
for i in range(1, n+1):
    total_sum = total_sum + i
print("Total sum is: ", total_sum)

Enter value of n:  5

Total sum is:  15

In [3]:
## Reverse of String

str = "Shweta Shrivastava"
reverseString=""
for i in str:
	reverseString = i+ reverseString
print(reverseString)

avatsavirhS atewhS

In [4]:
## Factorial of number

n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
    print(fact)

1
2
6
24
120

In [5]:
## Print the multiplication table of a given number

n=10
for i in range(1,11):
    print(n,"*",i,"=",n*i)

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [6]:
## Counts the number of even and odd numbers in a list

a=[3,4,6,7,8,9]
Even_Count=0
Odd_Count=0
for i in a:
    if i%2==0:
        Even_Count=Even_Count+1
    else:
        Odd_Count=Odd_Count+1
print("Even numbers in the list: ", Even_Count)
print("Odd numbers in the list: ", Odd_Count)

Even numbers in the list:  3
Odd numbers in the list:  3

In [7]:
## squares of numbers from 1 to 5

for i in range(1,5):
    Square=i*i
    print("Square of number is:",Square)

Square of number is: 1
Square of number is: 4
Square of number is: 9
Square of number is: 16

In [8]:
## Count character in string

a="Hello World"
count=0
for i in a:
    count=count+1
print(count)

11

In [9]:
## Average of number in list

l=[2,4,6,7,8,12,15]
avg=0
for i in l:
    avg=avg+i
    r=sum(l)/len(l)
print(r)

7.714285714285714

In [10]:
## Fibonaaci Series

n=int(input("Enter a number"))
a=0
b=1
for i in range(1,n+1):
    print(a,end=" ")
    c=a+b
    a=b
    b=c

Enter a number 5

0 1 1 2 3

In [11]:
## Duplicate Elements in list

l=[1,2,3,4,5,2,3,4,7,9,5]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

2 3 4 5

In [12]:
## To check Number is prime or not

num = 12
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

12 is not a prime number

In [17]:
## Counts the number os vowels in string
String=input("Enter a string")
count=0
for i in String:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        #if True
        count+=1
#check if any vowel found
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :' + str(count))

Enter a string 4

No vowels found

In [18]:
## 2D List

rows = 2
cols = 2
a = []
for row in range(rows):
    a += [[0]*cols]
print("For 1st rowt:")
print("   a =", a)

For 1st rowt:
   a = [[0, 0], [0, 0]]

In [19]:
## Remove Occurences from List

list = [10, 20, 10, 30, 10, 40, 10, 50]
n = 10 
print ("Original list:")
print (list)
for x in list:
    if x == n:
        list.remove(x)
print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements:
[20, 30, 40, 50]

In [20]:
## print 1 to 15 multiplication table

rows=5
columns=5
for i in range(1,rows+1):
    for j in range(1,columns+1):
        c=i*j
        print("{:2d} ".format(c),end='')
    print("\n")

 1  2  3  4  5

 2  4  6  8 10

 3  6  9 12 15

 4  8 12 16 20

 5 10 15 20 25

In [21]:
## Comman Elements in 2 List

a = [2,3,4,8,9]
b = [7,6,8,9,3]
c = [x for x in a for y in b if x == y]
print (set(c))

{8, 9, 3}

In [22]:
## Print right angle triangle

x=int(input("Enter a number"))
for i in range(x):
    for j in range(i+1):
        print("*",end=" ") 
    print(" ")

Enter a number 5

*
* *
* * *
* * * *
* * * * *

In [23]:
## GCD of 2 numbers

num1=36
num2=60
gcd=1
for i in range(1,min(num1,num2)):
    if num1%i==0 and num2%i==0:
        gcd=i
print("GCD of num1 and num2 is:",gcd)

GCD of num1 and num2 is: 12

In [37]:
## Sum of Digits of number
num=int(input("Enter a number"))
tot = 0
for i in range(num):
    tot += num % 10
    num //= 10
print("Total = ", tot)

Enter a number 65

Total =  11

In [38]:
# Python Program to find Prime Factors of a Number
 
Number = int(input(" Please Enter any Number: "))
for i in range(2, Number + 1):
    if(Number % i == 0):
        isprime = 1
        for j in range(2, (i //2 + 1)):
            if(i % j == 0):
                isprime = 0
                break  
        if (isprime == 1):
            print(" %d is a Prime Factor of a Given Number %d" %(i, Number))

 Please Enter any Number:  121

 11 is a Prime Factor of a Given Number 121

In [39]:
## that extracts unique elements from a list and stores them in a new list

h_letters = []
for letter in 'human':
    h_letters.append(letter)
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [52]:
## Number is palindrome or not

def is_palindrome(input_list):
    length = len(input_list)
    for i in range(length // 2):
        if input_list[i] != input_list[length - i - 1]:
            return 'No'
    return 'yes'
 
test_list1 = [121,34,45]
test_list2 = [4, 5, 5]
 
print(is_palindrome(test_list1))
print(is_palindrome(test_list2))

No
No

In [53]:
## to flatten a nested list using list comprehensio

my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [54]:
# Python Program to find Sum of Even and Odd Numbers in a List

NumList = []
Even_Sum = 0
Odd_Sum = 0
Number = int(input("Please enter the Total Number of List Elements: "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)
for j in range(Number):
    if(NumList[j] % 2 == 0):
        Even_Sum = Even_Sum + NumList[j]
    else:
        Odd_Sum = Odd_Sum + NumList[j]
print("\nThe Sum of Even Numbers in this List =  ", Even_Sum)
print("The Sum of Odd Numbers in this List =  ", Odd_Sum)

Please enter the Total Number of List Elements:  5
Please enter the Value of 1 Element :  23
Please enter the Value of 2 Element :  21
Please enter the Value of 3 Element :  22
Please enter the Value of 4 Element :  34
Please enter the Value of 5 Element :  56

The Sum of Even Numbers in this List =   112
The Sum of Odd Numbers in this List =   44

In [55]:
# use list comprehension to get square

data=[1,2,3,4,5,6,7]
result = [i*i for i in data if i%2!=0]
print(result)

[1, 9, 25, 49]

In [56]:
## Combine 2 list

keys_list = ['Name', 'Age', 'Gender', 'Country']
values_list = ['James', 32, 'Male', 'United States']
info_dict = {}
for i in range(len(keys_list)):
    info_dict[keys_list[i]] = values_list[i]
print('Keys List:', keys_list)
print('Values List:', values_list)
print('Dictionary:', info_dict)

Keys List: ['Name', 'Age', 'Gender', 'Country']
Values List: ['James', 32, 'Male', 'United States']
Dictionary: {'Name': 'James', 'Age': 32, 'Gender': 'Male', 'Country': 'United States'}

In [59]:
## Extract Vowels 

test_list = ["all", "love", "and", "get", "educated", "by", "gfg"]
print("The original list is : " ,test_list)
res = []
vow = "aeiou"
for sub in test_list:
    flag = False
    for ele in vow:
        if sub.startswith(ele):
            flag = True
            break
    if flag:
        res.append(sub)
print("The extracted words : " ,res)

The original list is :  ['all', 'love', 'and', 'get', 'educated', 'by', 'gfg']
The extracted words :  ['all', 'and', 'educated']

In [60]:
## Extract Non-Numeric cjaracter from string

import re
list = ['Judy 88 5', 'animal 91 5', 'Mo 86 5', 'Geno 87 6', 'exhaled 87 6']
res = []
for i in list:
    m = re.search(r"\b(\d{2})\b", i)
    if m:
        res.append(m.group())
print(res)

['88', '91', '86', '87', '87']

In [61]:
## to generate a list of prime numbers using the Sieve of Eratosthenes algorithm

def prime_eratosthenes(n):
    prime_list = []
    for i in range(2, n+1):
        if i not in prime_list:
            print (i)
            for j in range(i*i, n+1, i):
                prime_list.append(j)
print(prime_eratosthenes(50));

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
None

In [62]:
## that generates a list of all Pythagorean triplets up to a specified limit

print([(a, b, c) for a in range(1, 11) for b in range(3, 15)
       for c in range(b, n + 1) if a**2 + b**2 == c**2])

[(3, 4, 5), (4, 3, 5)]

In [63]:
## List Combination

list_1 = [2, 6, 7, 3]
list_2 = [1, 4, 2]
list_3 = [ x * y for x in list_1 for y in list_2 ]
print(list_3)

[2, 8, 4, 6, 24, 12, 7, 28, 14, 3, 12, 6]

In [64]:
## generates Pascal's triangle up to a specified number of rows

n = int(input("Enter the number of rows:"))  
for i in range(1, n+1):  
   for j in range(0, n-i+1):  
      print(' ', end='')   
   C = 1  
   for j in range(1, i+1):  
      print(' ', C, sep='', end='')  
      CC = C * (i - j) // j  
   print()

Enter the number of rows: 3

    1
   1 1
  1 1 1

In [66]:
## Find the Longest word in String

test_list = ['shweta', 'kumari', 'Shrivastava', 'Reema', 'Raghav']
print("The original list : " ,test_list)
max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
print("Maximum length string is : " + res)

The original list :  ['shweta', 'kumari', 'Shrivastava', 'Reema', 'Raghav']
Maximum length string is : Shrivastava

In [69]:
## Maximum Vowels word

test_list = ["SKs", "salman", "Shahrukh", "Shrivastava"]
print("The original list is : " ,test_list)
res = ""
max_len = 0
for ele in test_list:
    vow_len = len([el for el in ele if el in ['a', 'e', 'o', 'u', 'i']])  
    if vow_len > max_len:
        max_len = vow_len
        res = ele
print("Maximum vowels word : " ,res)

The original list is :  ['SKs', 'salman', 'Shahrukh', 'Shrivastava']
Maximum vowels word :  Shrivastava

In [86]:
## Total Palindroms numbers are in List


def count_pal(n):  
   count = 0  
   for i in range(n):  
       if i == str(n) == str(n)[::-1]:
           return 
           count =+ i   
   else:
       pass